html, body {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*::after,*::before {
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
  outline: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

button, [type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

p {
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding: 0;
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}