* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
}

html,body,#root {
    color: #333;
}