@media (max-width: 960px) {
  body {
    font-size: 16px;
  }
}

@media (max-width: 720px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
}

@media (max-width: 400px) {
  body {
    font-size: 11px;
  }
}

@media (max-width: 320px) {
  body {
    font-size: 10px;
  }
}
