* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

header .banner {
  width: 100%;
  height: 350px;
  cursor: pointer;
  transition: .3s;
}

header .banner:hover {
  opacity: .8;
}

nav .logo {
  width: 150px;
  transition: .3s;
}

nav .logo:hover {
  opacity: .7;
}

nav .icons {
  width: 35px;
  transition: .3s;
}

nav .icons:hover {
  opacity: .7;
}

main {
  margin-bottom: 200px;
}

main .sectionText {
  margin-top: 100px;
}

main .title {
  margin-top: 100px;
}

main .divChronometer {
  width: 18%;
}

main #addon-wrapping .img-temp {
  width: 26px;
}

.sectionText span {
  font-size: 14px;
  color: #6c757d;
  margin-bottom: 17px;
  
}

.sectionText #chronometer {
  text-align: center;
  font-size: 17px;
  color: #6c757d;
}

.sectionText button {
  width: 9%;
}

.sectionText #text-alert {
  font-size: 16px;
  display: none;
}

footer {
  color: #6c757d;
}

@media screen and (max-width: 1000px) {
  header .banner {
    widows: 100%;
    height: 250px;
    object-fit: cover;

  }

  main .title {
    margin-top: 70px;
  }

  main .divChronometer {
    width: 50%;
  }

  .sectionText button {
    width: 100%;
  }
}