@import 'https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-size: 100%;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    font-weight: normal;
}

a {
    text-decoration: none;
}

ol, ul {
    list-style: none;
}

img {
    max-width: 100%;
}

@keyframes marquee {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-100%, 0);
    }
}

.container {
    width: 100%;
    height: 100vh;
    background: url(https://img.youtube.com/vi/w7x8ViTS730/maxresdefault.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    background-color: rgba(0, 0, 0, .5);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

    > .top-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        > span {
            font-size: 24px;
            font-weight: bold;
            color: #9cbad4;
        }

        > img {
            width: 120px;
        }
    }

    > .bottom-content {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        > .subtitle {
            text-transform: uppercase;
            background: #9cbad4;
            padding-left: 30px;
            padding-right: 10px;
            border-radius: 2px 2px 0 0;
            line-height: 1.5;
        }

        > .title {
            width: 100%;
            font-size: 30px;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #9cbad4;
            background: rgba(0, 0, 0, .8);
            padding: 15px 30px;
        }

        > .news {
            width: 100%;
            height: 30px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background: #C4170C;

            > img {
                width: 42px;
                height: 100%;
            }

            > .description {
                flex: 2;
                text-transform: uppercase;
                color: #FFF;
                overflow: hidden;
                white-space: nowrap;

                span {
                    display: inline-block;
                    padding-left: 100%;
                    animation: marquee 15s linear infinite;

                    a {
                        color: #eb007d;
                        background: #000;
                    }
                }
            }

            > div {
                height: 100%;
                font-family: 'Source Sans Pro', sans-serif;
                font-weight: bolder;
                color: #9cbad4;
                background: #000;
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}

@media (max-width: 500px){
    @keyframes marquee {
        0% {
          transform: translate(0, 0);
        }
        100% {
          transform: translate(-100%, 0);
        }
    }

    .container {
        background-position: center;
        .top-content {
            flex-wrap: wrap;
    
            > span {
                font-size: 14px;
                margin-bottom: 10px;
            }
        }

        > .bottom-content {

            > .title {
                overflow: hidden;
                white-space: nowrap;

                span {
                    display: inline-block;
                    padding-left: 100%;
                    animation: marquee 15s linear infinite;
                }
            }
        }
    }
}