@keyframes marquee {
  0% { 
    transform: translateX(40%);
  }

  100% { 
    transform: translateX(-100%);
  }
}

@include small-screen {
  @keyframes marquee {
    0% { 
      transform: translateX(85%);
    }
  
    100% { 
      transform: translateX(-100%);
    }
  }  
}

@include medium-screen {
  @keyframes marquee {
    0% { 
      transform: translateX(110%);
    }
  
    100% { 
      transform: translateX(-100%);
    }
  }  
}

@include large-screen {
  @keyframes marquee {
    0% { 
      transform: translateX(115%);
    }
  
    100% { 
      transform: translateX(-100%);
    }
  }  
}