@import url("https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap");
$background: #212121;
body {
  font-family: "Lato", sans-serif;
  background-color: $background;
  text-transform: uppercase;
}

.displays {
  position: relative;
  margin-top: -120px;
  z-index: 99;
}

.top-displays {
  position: relative;
  margin-bottom: -70px;
  margin-top: 29px;
  z-index: 99;
  span{
    text-transform: none;
    font-weight: 700;
    color:#bfbdbe;
  }
}

.tv {
  .titulo {
    background-color: rgba(0, 0, 0, 0.9);
    font-size: 24px;
    font-weight: 900;
    color: #fff;
    width: 100%;
    max-width: 100%;
    padding: 0 10px 0 10px;
  }

  .sub-titulo {
    background-color: #bfbdbe;
    font-size: 15px;
    font-weight: 700;
    color: #39393b;
    text-align: center;
    padding: 0 5px 0 5px;
  }

  .descricao-box {
    background: red;
    width: 100%;
    height: 25px;
    color: #fff;
    marquee {
      margin-right: -15px;
      margin-left: -15px;
      font-weight: 700;
      padding-bottom: 3px;
    }
  }

  .hora {
    background-color: #020002;
    width: 100%;
    height: 25px;
    font-size: 15px;
    font-weight: 700;
    color: #fff;
    padding: 0 5px 0 5px;
    text-align: center;
    padding-bottom: 3px;

  }

  .logo-pequena-lateral {
  }
}

.video {
  margin-left: -15px;
}

.vjs-control-bar{
  position: relative;
  z-index: 91;
  margin-top: -10px!important; 
}

.video-js .vjs-big-play-button {
  left: 46% !important;
  top: 41% !important;
  width: 20%;
  height: 20%;
  z-index: 99;
}

.video-js .vjs-play-control:before {
  top: 20% !important;
  content: "\f101";
  font-size: 48px;
}

.vjs-big-play-button{
  background-color: orangered !important;
}

.hashtag{
    height: 50px;
    align-items: center;
}

.overlay-tv{
  position: relative;
  z-index: 80;
  margin-bottom: -50%;
  img{
    width: 1195px;
    height: auto;
    margin-left: 195px;
  }
}