.MuiDialog-paperWidthSm {
    display: flex;
    align-items: center;
    max-width: 900px;
    width: 800px;
    padding: 15px;
}

.MuiDialogTitle-root h2 {
    padding: 0;
}

.MuiDialog-paperWidthSm #btn {
    width: auto;
    margin-top: 15px;
}

.buttons-options {
    display: flex;
    flex-direction: column;
}

.buttons-options * {
    margin-top: 5px;
}

.div-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.div-form #btn {
    display: flex;
    align-items: center;
}

.div-form #btn * {
    padding: 5px;
}

.input-email {
    border: 1px solid #eee;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
}