.MuiDialog-paperWidthSm {
    display: flex;
    align-items: center;
    max-width: 925px;
    width: 800px;
    padding: 15px;
}

.MuiDialogTitle-root h2 {
    padding: 0;
}

.buttons-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons-options * {
    margin-top: 5px;
}

.buttons-options #btn {
    margin-top: 10px;
    height: auto;
}

.div-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn-email {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.div-form #btn * {
    margin: 0;
    padding: 0;
    margin-right: 5px;
    margin-left: 5px;
}

.input-email {
    border: 1px solid #eee;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 16px;
}