body {
    background-color: #404040;
    font: normal 18pt Arial;
}

header {
    text-align: center;
}

#submitlink {
  text-decoration: none;
  color: white;
}

textarea {
  width: 100%;
}

#textoo, #titulo, #relogio {
    color: white;
    font-family: 'Montserrat', sans-serif;
}

#texto {
  text-align: left;
}

#texto1, #texto, #texto3 {
    font-family: 'Roboto Condensed', sans-serif;
}

section {
    background: white;
    border-radius: 20px;
    padding: 1%;
    width: 75%;
    margin: auto;
    margin-top: 3%;
    box-shadow: 4px 4px 10px black;
}

div {
    text-align: center;
    padding: 6px;
}

#azul {
    width: 12%;
    margin-left: 80%;
}

img {
    width: 100%;
}

footer {
    text-align: center;
    color: chocolate;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 20%;
  text-align: center;
  text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}