.div-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  margin-top: 15px;
  background-color: #6EBAD0;
}

.footer-left {
  margin-left: 15px;
}

.footer-left img {
  margin-top: 10px;
  display: flex;
  height: 75px;
  width: 126px;
}

.footer-right {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer-right span {
  font-family: Arial, Helvetica, sans-serif;
  margin-right: 15px;
  font-size: 20px;
}

.footer-right span a {
  color: rgb(156, 221, 27);
}