/* Colors */
$mainColor: #00adb5;
$mainColorDarker: #00979e;
$textColor: #454a52;
$titleColor: #2b313b;
$bgColor: #eeeeee;
$bgColor2: #f7f5f5;
$bgColorDark: #222831;
$bgColorGradient: linear-gradient(104.62deg, #2b313b 38.54%, #454a52 100%);
$bgColorGradientBtn: linear-gradient(98.52deg, #00979e 0%, #10c4cc 100%);
$kindleScreenColor: #d9d9d9;

/* Font size */
$h1: 3rem;
$h2: 2.25rem;
$p: 1.5rem;
$a: 1.125rem;

body {
  margin: 0;
  padding: 0;
  font-family: "IBM Plex Sans", sans-serif;
}

h1 {
  font-size: $h1;
  font-weight: 400;
  font-family: "IBM Plex Serif", serif;
  color: $textColor;
}

h2.title {
  font-family: "IBM Plex Serif", serif;
  font-size: $h2;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  color: $titleColor;
  // font-weight: 600;
  &::after {
    content: " ";
    display: block;
    background-color: $titleColor;
    height: 4px;
    width: 5%;
    position: absolute;
    border-radius: 5px;
    left: 47.5%;
    margin-top: 5px;
  }
}

p {
  font-size: $p;
  font-weight: 400;
  color: $textColor;
}

a {
  color: $kindleScreenColor;
  text-decoration: none;
  font-weight: bold;
  font-size: $a;
  transition: 0.2s;
  &:hover {
    color: $mainColor;
  }
}

.btn {
  background: none;
  text-transform: uppercase;
  font-size: $a;
  border-radius: 10px;
  font-weight: 700;
  cursor: pointer;
}

.btn-header {
  color: $mainColor;
  font-size: 18px;
  border-image: $bgColorGradientBtn;
  border: 2px solid;
  padding: 15px 25px;
  transition: 0.2s;
  &:hover {
    border: 2px solid $mainColorDarker;
    background: $bgColorGradientBtn;
    color: $kindleScreenColor;
  }
}

.btn-chamada {
  color: $bgColor2;
  background: $bgColorGradientBtn;
  padding: 15px 50px;
  border: 2px solid $mainColorDarker;
  transition: 0.2s;
  &:hover {
    background: $bgColorGradient;
    border: 2px solid $bgColorDark;
    color: $bgColor;
  }
}

.btn-close {
  color: #e74c3c;
  padding: 10px 20px;
  background: none;
  border: 1px solid #e74c3c;
  transition: 0.2s;
  &:hover {
    background: #e74c3c;
    border: 1px solid #e74c3c;
    color: $bgColor;
  }
}

.btn-modal {
  color: $bgColor;
  padding: 10px 20px;
  background: $mainColor;
  border: 2px solid $mainColorDarker;
  transition: 0.2s;
  &:hover {
    background: $mainColorDarker;
    border: 2px solid $mainColor;
    color: $bgColor;
  }
}

.container {
  width: 100%;
  margin: 0 60px;
}

.row {
  display: flex;
  justify-content: space-between;
  .col {
    width: 50%;
  }
  .col-6 {
    width: 60%;
  }
  .col-4 {
    width: 40%;
  }
}

.bg {
  background-color: $bgColor;
}

header {
  background-color: $textColor;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  img {
    margin: 0 30px;
  }
  nav {
    margin: 0 30px;
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    a {
      margin: 0 10px;
    }
  }
}

section {
  min-height: 560px;
  display: flex;
  align-items: center;
  .col {
    align-self: center;
  }
}

section#chamada {
  background-color: $bgColor;
  background-image: url("/public/img/Vector.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  .btn {
    margin: 40px 0 0 0;
  }

  .col-4 {
    z-index: 1;
  }

  .bg-svg {
    display: flex;
    justify-content: center;
    z-index: 0;
  }
}

section#teste {
  min-height: 1245px;
  .instrucoes {
    margin: 0 90px;
  }
  .kindle {
    margin: 50px auto;
    border: 3px solid $bgColorDark;
    border-radius: 35px;
    max-width: 667px;
    height: 900px;
    background: $bgColorGradient;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
    .btn-kindle {
      color: $mainColor;
      border-color: $mainColor;
      margin: 0 auto 30px auto;
      padding: 15px 30px;
      transition: 0.2s;
      &:disabled {
        color: red;
        border-color: red;
      }
      &:hover {
        color: $mainColor;
        border: 2px solid $mainColor;
      }
    }
    .screen {
      height: 680px;
      width: 75%;
      margin: 70px auto 30px auto;
      padding: 50px 30px;
      background-color: $kindleScreenColor;
      color: $textColor;
      line-height: 150%;
      overflow-y: scroll;
      scrollbar-width: thin;
      scrollbar-color: $mainColor $bgColor;
    }
  }
}

#footer {
  min-height: 330px;
  background: $bgColorGradient;
  .chamada-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    h1 {
      font-weight: 700;
    }
    h1,
    p {
      margin: 0;
      color: $bgColor2;
    }
    a {
      margin-top: 20px;
    }
  }
}

footer {
  height: 100px;
  background: $bgColorDark;
  display: flex;
  align-items: center;
  .footer-text {
    font-family: "IBM Plex Serif", serif;
    font-size: 14px;
    color: $bgColor;
    text-align: end;
  }
  .row {
    align-items: center;
    .col:last-of-type {
      align-self: flex-end;
      justify-self: flex-end;
      a {
        font-size: 14px;
        font-family: "IBM Plex Serif", serif;
        font-size: 14px;
        color: $bgColor;
        &:hover {
          color: $mainColor;
        }
      }
    }
  }
}

.modal {
  position: fixed;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 30%;
  width: 480px;
  min-height: 200px;
  background-color: $bgColor2;
  box-shadow: 2px 3px 20px 2px $textColor;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 1;
  .modal-header {
    height: 50px;
    background-color: $mainColorDarker;
    border-radius: 20px 20px 0 0;
  }
  .modal-content,
  .modal-footer {
    width: 92%;
    padding: 20px;
  }
  .modal-content {
    margin: 20px auto;
  }

  .modal-share {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 20px;
    .btn-fb,
    .btn-tt {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      img {
        fill: red;
        height: 24px;
        width: 24px;
      }
      height: 36px;
      width: 36px;
      margin: 0 10px;
      transition: 0.2s;
      &:hover {
        opacity: 0.7;
      }
    }

    .btn-fb {
      border: 0px solid #1a2947;
      background-color: #384d77;
    }
    .btn-tt {
      border: 0px solid #1da1f2;
      background-color: #1da1f2;
    }
  }

  .modal-footer {
    display: flex;
    justify-content: flex-end;
    button {
      margin-right: 10px;
    }
  }
}
