* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
}

body, button, a, span, strong {
    font-family: "Roboto", Sans-serif;
}

button {
    cursor: pointer;
}

a {
    color: #3F3F3F;
}

a:link {
    text-decoration:none;
}

