* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    background-color: #f8f8f8;
    margin-bottom: 25px;
}

body, button, a {
    font-family: Lato, sans-serif;
}

button {
  
    cursor: pointer;
}

.div-header + .div-main {
    padding-top: calc(25px + 5vw);
}

a {
    color: #3F3F3F;
}

a:link {
    text-decoration:none;
}

