.textWord {
    width: 90%;
    max-width: 90%;
    height: 300px;
    background-color: #ebebeb;
    font-size: 1.1em;
    padding: 20px 20px;
    border-radius: 5px;
    border: none;
    transition: border 0.2s;
    border-top: 20px solid rgb(51, 51, 51);
    letter-spacing: 0.2px;
}

::-webkit-scrollbar {
    width: 11px;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background-color: rgba(228, 228, 228, 0.548);
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 107, 21, 0.747);
}

.textWord:focus {
    border: 3.5px solid rgb(216, 106, 42);
}

.blockCode {
    transition: opacity 1s,height 1s, padding 1s;
    margin-top: 50px;
    width: 100%;
    padding: 30px 0px 130px 0px;
    display: flex;
    flex-direction: column;
    transition: opacity .2s, height 1s;
    align-items: center;
}

.block-title {
    color: #fff;
    font-weight: 100;
    letter-spacing: 0.5px;
    margin: 20px 30px 10px 30px;
    text-align: center;
}

.section-warning {
    margin: 20px 0px 30px 0;
    color: rgb(192, 192, 192);
}

.warning-item {
    display: flex;
    flex-direction: row;
    animation: sliceSuggar 1s;
    padding: 10px 20px;
    opacity: 1;
    height: auto;
    transition: height .5s;
}

@keyframes sliceSuggar{
    0% {
        height: 0px;
        opacity: 0;
        background-color: rgb(61, 61, 61);
        transform: translateY(15px);
    }
}

.cube-color {
    width: 17px;
    height: 17px;
    background-color: rgb(0, 255, 191);
    border-radius: 50%;
    margin-right: 5px;
}

.beforeTest {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.closedTime {
    opacity: 0;
    height: 0px;
    padding: 0px !important;
    margin-top: 0px;
}

#contentAfter {
    margin-top: 20px;
    width: 80%;
    display: none;
    color: #fff;
    height: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 10%;
    animation: surgir 1s;
    padding: 30px 0px 130px 0px;
}

@keyframes surgir {
    0% {
        transform: translateY(100%)
    }
}

.health-reading {
    font-size: 5em;
    margin-bottom: 20px;
}

.health-color {
    color: rgb(102, 180, 39);
}

.desc {
    margin-top: 30px;
}

.health-title {
    font-size: 2em;
    text-align: center;
}

.btn-section {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.btn-acesso {
    margin-top: 30px;
    background-color: #6E36CA;
    padding: 12px 20px;
    border-radius: 30px;
    color: #fff;
    transition: transform 0.2s;
}

.btn-acesso:hover {
    transform: translateY(-5px);
}

.central-button {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 80%;
}

.remake-btn {
    background-color: rgb(33, 155, 17);
}

.animationAmpulheta {
    animation: viraAmpulheta 2s infinite;
}

@keyframes viraAmpulheta {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(360deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

.btn-switch-text {
    background-color: rgb(255, 72, 0);
}


.btn-pool {
    margin: 0px 10px;
}