$gray-transparent: rgba(173, 171, 171, 0.74);

div.sub-title {
    padding: 10px;
    border-radius: 2px;
    color: rgb(94, 92, 92);
    width: 250px;
    background-color: $gray-transparent;
}

@media (max-width: 640px) {
    .sub-title {
      max-width: 190px;
    }
  }