.channel-page {
  height: calc(100vh - 170px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
}

.channel-page.one {
  background-image: url('../assets/reporter-new.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 75% top;
}

.channel-page.two {
  height: calc(100vh - 90px);
  background-color: #191919;
  padding-top: 0;
  padding-bottom: 0;
  background-image: url('https://clips.twitch.tv/embed?clip=ScrumptiousIntelligentCobblerShazBotstix');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: none;

  > .bg-video {
    right: 0;
    bottom: 0;
    height: 100%;
  }
}

@media (max-width: 1015px) {
  .channel-page {
    height: calc(100vh - 124px);
    padding: 30px;
  }
}

@media (max-width: 860px) {
  .channel-page {
    height: calc(100vh - 85px);
    padding: 15px;
    background-position: 75% top;
    background-size: cover;
  }
}

@media (max-width: 1015px) {
  .channel-page.two {
    height: calc(100vh - 64px);
  }
}

@media (max-width: 860px) {
  .channel-page.two {
    height: calc(100vh - 55px);
  }
}
