/* ==========================================================================
Noticia
========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Kanit:300,400,500,600,700&display=swap');

body{
    font-size: 14px;
    background-color: #000;
    overflow: hidden;
    font-family: 'Kanit', sans-serif;
    @media (max-width: 500px){
        font-size: 10px;
    }
}

.n-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    color: #fff;
    padding: 1%;
    z-index: 99999;
    width: 100%;
    top: 0;
    position: absolute;
    &__hastag{
        font-size: 2em;
    }
    &__logo{
        width: 200px;
    }
}

.n-content{
    height: 100vh;
    @media (max-width: 500px){
        .n-noticia{
            img{
                object-fit: cover;
                object-position: 50% 0;
                width: 300vh;
                height: 100vh;
            }
        }
    }
}


.n-footer{
    width: 100%;
    position: absolute;
    z-index: 2;
    bottom: 0;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    text-transform: uppercase;
    padding-bottom: 20px;
    &__box-top{
        width: 150px;
        padding: 10px;
        background-color: #e6e6e6;
        color: #000;
    }
    &__box-middle{
        height: 60px;
        background-color: rgba(0,0,0,.8);
        color: #fff;
        display: flex;
        align-items: center;
        font-size: 2em;
        padding: 2%;
    }
    &__box-bottom{
        height: 40px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        p{
            width: 94%;
            background-color: #eb007d;
            marquee{
                padding: 10px;
            }
        }
        span{
            background-color: #9f0054;
            color: #fff;
            box-sizing: content-box;
            padding: 10px;
            text-align: center;
        }
        a{
            width: 3%;
            background-color: #fff;
            display: flex;
            align-items: center;
        }
    }
}


body[data-aos-duration="400"] [data-aos]{
    transition-duration: 2s!important;
}