* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Variáveis color
$colorGrey: #8B98AB;
$colorBlack: #000;
$colorWhite: #fff; 
$bgcolorP1: #0D0E10;
$bgcolorMarquee: #791C26;
$bgcolorExclusivo: rgb(141, 6, 6);
$allWidth: 100%;

// Variáveis responsive
$tablet-width: 768px;
$desktop-width: 1025px;
$fullHD: 1920px;

// Mixins responsive
@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

@mixin fullHD {
    @media (min-width: #{$fullHD}) {
        @content;
    }
}


body {
    background: $colorBlack;
    font-family: Arial, Helvetica, sans-serif;
    
    main {
        width: 100%;
        height: 100vh;
        display: flex;
        margin: auto;
        align-items: center;
    
    
        .container {
            width: 100%;
            height: 100vh;
            background-image: url(/img/bg.jpg);
            background-size: cover;
            background-position: center;
            align-self: center;

            .nav {
                width: 90%;
                height: auto;
                margin: 30px auto;
                display: flex;
                justify-content: space-between;
                align-items: center;

                @include tablet {
                    width: 80%;
                }

                @include desktop {
                    width: 65%;
                }
                

                #rashtag, #exclusivo {
                    color: $colorWhite;
                    font-weight: bold;
                    text-decoration: none;
                    font-size: 18px;

                    &:hover {
                        opacity: .7;
                        transition: .3s;
                    }

                    @include desktop {
                        font-size: 22px;
                    }
                }

                #exclusivo {
                    padding: 3px;
                    text-transform: uppercase;
                    background: $bgcolorExclusivo;
                    border-radius: 5px;
                    font-size: 15px;

                    @include desktop {
                        font-size: 19px;
                    }
                }
            }

            .section {
                width: 90%;
                height: 79%;
                display: flex;
                align-items: flex-end;
                margin: auto;

                @include tablet {
                    width: 80%;
                }

                @include desktop() {
                    width: 65%;
                }

                .div {
                    width: 100%;
                    height: auto;

                    .div-p1 {
                        width: 55%;
                        display: flex;
                        justify-content: flex-end;
                        background: $colorWhite;
                        font-size: 8px;

                        @include desktop {
                            font-size: 10px;
                        }

                        @include tablet {
                            width: 28%;
                        }

                        .h2 {
                            width: 80%;
                            padding: 3px;
                            font-weight: bold;

                            @include desktop {
                                width: 65%;
                            }
                        }
                    }

                    .div-p2 {
                        width: 100%;
                        display: flex;
                        justify-content: flex-end;
                        font-size: 10px;
                        background: rgba($color: rgb(27, 29, 27), $alpha: .6);

                        @include tablet {
                            font-size: 13px;
                        }

                        @include desktop {
                            font-size: 17px;
                            height: 65px;
                            align-items: center;
                        }

                        .h1 {
                            width: 89%;
                            padding: 3px;
                            font-weight: bold;
                            color: $colorWhite;

                            @include tablet {
                                width: 95%;
                            }

                            @include desktop {
                                width: 90.2%;
                            }
                        }
                    }
                     
                }

            }

            .footer {
                width: 90%;
                display: flex;
                align-items: center;
                margin: auto;
                height: auto;

                @include tablet {
                    width: 80%;
                }

                @include desktop() {
                    width: 65%;
                }
                
    
                .d1{
                    width: 13.8%;
                    height: auto;
                    background: $bgcolorMarquee;
                    border-right: solid 1px $colorWhite;

                    @include desktop {
                        width: 11.5%;
                    }

                    @include fullHD {
                        width: 11.4%;
                    }

                    .p3 {
                        padding: 3px;
                        font-family: 'Alfa Slab One', cursive;
                        font-size: 14px;
                        color: $colorWhite;
                        text-align: center;
                    }
                }

                .d2 {
                    width: 80%;
                    height: 26px;
                    background: $bgcolorMarquee;
                    padding:5px;
                    color: $colorWhite;
                    font-size: 14px;
                    font-weight: bold;
                }

                .d3 {
                    width: 20%;
                    height: 26px;
                    background: $colorBlack;
                    padding:5px;
                    color: $colorWhite;
                    font-size: 14px;
                    font-weight: bold;
                    text-align: center;
                }
            }

        }
    }
}